.title-bar{

}

.title-row{
    background-color: darkmagenta;
    color: white;
    padding-left: 50px;
    margin-top: 20px;
    font-size: 32px;
    padding-top: 3px;
    padding-bottom: 3px;

}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f9f9f9;
    color: #7f7179;
}
.pageInstructions{
    padding-left: 12%;
}

.side-menu{
    font-size: 14px;
}

.search-Criteria{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 55px;
}
.search-labels{
    padding-right: 50;
    font-weight: bold;
    float: left;
    margin-right: 5px;
}

.groupChoices{
    width: 500px;
    font-size: 100px;
}

.checkbox label{
    min-height: 20px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}
fieldset{
    border: none;
}

a{
    text-decoration: none;
    color: purple;
}

a:hover{
    font-weight: bold;
}

ul{
    list-style-type: none;
}


.radio-inline{
    padding-left: 20px;
}

td{
    vertical-align: text-top;
    padding: 3px;
}

.ordering-options-text{
    margin-left: 10%;
}

tr.form-group{
    padding: 100px;
    vertical-align: middle;
}

input{
    font-size: 16px;
    padding: 5px;
    width: auto;
}

.navbar-list{
    list-style-type: none;
    display: inline;
    text-align: center;
    
}
nav li{
    display: inline;
    padding-right: 15px;
    
}

header{
}

.navbar{
    
}

.logo{
    float: left;
    padding-right: 250px;
}

.badgeButton{
    border: 2px solid purple;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: white;
    float: left;

}
.badgeButton:hover{
    background-color: honeydew;
}

.badgeTitle{
    font-size: 24px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}